# List

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

 #Lists are used to store multiple items in a single variable

In [3]:
llist=['nabin',14,255.66] 
print(llist)

['nabin', 14, 255.66]

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage

In [4]:
type(llist)

list

In [5]:
x=input("Enter your name: ")
y=int(input("Enter Your Roll No: "))
z=int(input("Enter Your Roll No: "))
lst=[x,y,z]
print(lst)

Enter your name: Nabin
Enter Your Roll No: 55
Enter Your Roll No: 55
['Nabin', 55, 55]

In [9]:
n=[55,1,2,3,4,'Nabin','Acharya']
print(n[5]+' '+n[6])

Nabin Acharya

In [16]:
lst1=[]
lst1.append('cod')

In [18]:
lst1.append('neoal')
lst1.append('nabin')
lst1.append('python')
lst1.append('code library')

['cod', 'neoal', 'nabin', 'python', 'code library', 'neoal', 'nabin', 'python', 'code library']

In [19]:
lst1.insert(2,'Acharya')#Insert add the list in patriculer address or positon like 2,code add the value in 2
print(lst1)

['cod', 'neoal', 'Acharya', 'nabin', 'python', 'code library', 'neoal', 'nabin', 'python', 'code library']

In [20]:
lst1[1]='Code'#Change the value of list using lst1 and perticular position
print(lst1)

['cod', 'Code', 'Acharya', 'nabin', 'python', 'code library', 'neoal', 'nabin', 'python', 'code library']

In [21]:
lst1[4]='Python mega coures'
print(lst1)

['cod', 'Code', 'Acharya', 'nabin', 'Python mega coures', 'code library', 'neoal', 'nabin', 'python', 'code library']

In [23]:
lst1[5:8]

['code library', 'neoal', 'nabin']

In [26]:
lst1[5:8]=['code','usa','2025']#Change the value of list code library - python to code usa 2025
print(lst1)

['cod', 'Code', 'Acharya', 'nabin', 'Python mega coures', 'code', 'usa', '2025', 'python', 'code library']

In [35]:
lst1.remove('Code')
print(lst1)

['cod', 'nabin', 'Python mega coures', 'usa', '2025', 'python', 'code library']

In [36]:
lst1.clear()#Clear antire list

In [37]:
lst1

[]

In [38]:
thislist

['apple', 'banana', 'cherry']

In [39]:
thislist.pop()# remove the list from last and element of list

'cherry'

In [40]:
1 in thislist

False

In [42]:
'apple' in thislist

True

# Python Dictionaries

In [51]:
thisdict = {
  "Name": "Nabin",
  "RollNo": "19",
  "From": 'Palpa',
    "Semister": '3'}
print(thisdict)

{'Name': 'Nabin', 'RollNo': '19', 'From': 'Palpa', 'Semister': '3'}

In [53]:
thisdict.keys()#Shows the key of dictionari

dict_keys(['Name', 'RollNo', 'From', 'Semister'])

In [55]:
thisdict['Name'] #Show the dictionari value

'Nabin'

In [57]:
thisdict["RollNo"] = 11 #Change the value of dictionari
print(thisdict)

{'Name': 'Nabin', 'RollNo': 11, 'From': 'Palpa', 'Semister': '3'}

In [58]:
thisdict.values()#Shows the values of dictionari

dict_values(['Nabin', 11, 'Palpa', '3'])

In [61]:
thisdict['Remarks']='Topper' #Add the value in dictionary
thisdict

{'Name': 'Nabin',
 'RollNo': 11,
 'From': 'Palpa',
 'Semister': '3',
 'Remarks': 'Topper'}

In [63]:
thisdict.pop('Remarks')

'Topper'

In [64]:
thisdict

{'Name': 'Nabin', 'RollNo': 11, 'From': 'Palpa', 'Semister': '3'}

Copy whole dictionary

In [65]:
copythisdict=thisdict.copy()

In [66]:
copythisdict

{'Name': 'Nabin', 'RollNo': 11, 'From': 'Palpa', 'Semister': '3'}

In [67]:
thisdict.update({'Reg. no':'5566'})#Update the dictionary

In [68]:
thisdict

{'Name': 'Nabin',
 'RollNo': 11,
 'From': 'Palpa',
 'Semister': '3',
 'Reg. no': '5566'}

# Tuple